<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<style>
		.product-image img{
			width:200px;
		}
		.color-box{
			width: 40px;
			height: 40px;
			margin: 10px;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<div class="cart">
			<p>Cart({{cart}})</p>
		</div>
		<div class="reviews">
			<h1>Reviews</h1>
			<p v-for="review in reviews">{{review.name}}</p>
		</div>
		<product :premium="premium" @add-to-cart=addToCart></product>
		<product-review @review-submmited=reviewSubmit></product-review>
	</div>

	<script>
		Vue.component('product',{
			props: {
				premium: {
					type: Boolean,
					required: true
				}
			},
			template:`
				<div class="product">
					<div class="product-image">
						<img :src="image">
					</div>

					<div class="product-info">
						<h1>{{ title }}</h1>
						<p v-if="inStock">In Stock</p>
						<p v-else>Out of Stock</p>
						<p>Shipping: {{ shipping }}</p>

						<ul>
							<li v-for="detail in details">{{ detail }}</li>
						</ul>

					
						<div v-for="(varient,index) in varients" :key="varient.varientId" 
							 class="color-box"
							 :style="{ background : varient.varientColor}"
							 @mouseover="updateProduct(varient.varientImage)"
						>
						</div>

						<button @click="addToCart" :disabled="!inStock">Add To Cart</button>
						
					</div>
				</div>
			`,
			data(){
				return {
					brand: 'Vue',
					product: 'Socks',
					image: '../assets/vue.png',
					inStock: true,
					details: [
						"80% cotton",
						"20% bla bla",
						"Gender-natural"
					],
					varients: [
						{
							varientId: 123,
							varientColor: "green",
							varientImage: "../assets/vue.png"
						},
						{
							varientId: 124,
							varientColor: "blue",
							varientImage: "../assets/vuejs.png"
						}
					]
				}
			},
			methods:{

				addToCart: function(){
					this.$emit('add-to-cart')
				},
				updateProduct: function(varientImage){
					this.image = varientImage
				}

			},
			computed:{
				title(){
					return this.brand+ " "+this.product
				},
				shipping(){
					if(this.premium){
						return "Free"
					}
					return 30
				}
			}
				
		})
		Vue.component('product-review',{
			template: `
				<form @submit.prevent="onSubmit">
				<input v-model="name">
				<input type="submit" value="Submit">
				</form>
			`,
			data(){
				return {
					name: null
				}
			},
			methods:{
				onSubmit(){
					let productReview = {
						name: this.name
					}
					this.$emit('review-submmited',productReview)
					this.name = null
				}
			}
		})
		var app = new Vue({
			el: '#app',
			data: {
				premium: true,
				cart: 0,
				reviews: []
			},
			methods: {
				addToCart(){
					this.cart += 1
				},
				reviewSubmit(productReview){
					this.reviews.push(productReview)
				}
			}
		})
	</script>
</body>
</html>